@import '../../sass/vars.scss';

.Brand {
    display: inline-block;
    vertical-align: middle;
    a {
        display: inline-block;
        color: $color-theme-dark;
        text-decoration: none;
        font-weight: bold;
        font-size: 22px;
        height: 22px;
        img {
            height: 100%;
        }
    }
}