@import '../../sass/vars.scss';

.Brand {
    display: inline-block;
    vertical-align: middle;
    a {
        display: inline-block;
        color: $color-theme-dark;
        text-decoration: none;
        font-weight: bold;
        //font-size: 1.4rem;
        height: 2.5rem;
        img {
            height: 100%;
        }
    }
}