@import '../../../sass/vars.scss';

.Plan {
    background-color: $color-theme-ligth;
    text-align: center;
    padding: 1rem;
    margin: .5rem 0;
    .Plan__title {
        color: $color-theme-dark;
    }
    .Plan__price {
        color: #858585
    }
    .Plan__features {
        list-style: none;
        margin: 0;
        padding: 0;
        .Plan__features__feature {
            margin: .5rem 0;
        }
    }
    .Plan__button {
        font-size: 2.2rem;
    }
    @media (min-width: 40rem) {
        margin: .5rem;
        display: inline-block;
        width: 30%;
        vertical-align: middle; 
        min-width: 12rem;
        max-width: 25rem;
    }
}

.Plan.Plan_highlighted {
    background-color: $color-theme-dark-ligth;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);    
    .Plan__annotation {
        background: white;
        color: $color-theme-dark-ligth;
        padding: .5rem;
        border-radius: .5rem;
        @media (min-width: 40rem) {
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
        }
    }
    .Plan__title {
        color: white;
    }
    .Plan__price {
        color: $color-theme-dark
    }
}