@import '../../../sass//vars.scss';

.Feature {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    .Feature__image {
        background: $color-red-ligth;
        width: 128px;
        height: 128px;
        border: 2px solid #424242;
        border-radius: 50%;
        margin: auto;
        padding: 20px;
    }
    .Feature__description {
        text-align: center;
        font-weight: bold;
        color: white;
        font-size: 20px;
    }
}