@import '../../../sass//vars.scss';

.Feature {    
    .Feature__image {
        background: $color-red-ligth;
        width: 128px;
        height: 128px;
        border: 2px solid #424242;
        border-radius: 50%;
        margin: auto;
        padding: 1.3rem;
    }
    .Feature__description {
        text-align: center;
        font-weight: bold;
        color: white;
        font-size: 1.3remx;
    }
    @media (min-width: 40rem) {
        vertical-align: top;    
        display: inline-block;
        width: 30%;
        max-width: 25rem;
    }
}