@import '../../../sass/vars.scss';

.Button {
    background: $color-theme-dark;
    color: white;
    font: inherit;
    border: 1.5px solid $color-theme-dark;
    padding: .5rem;
    border-radius: .5rem;
    font-weight: bold;
    cursor: pointer;
    &:hover, &:active {
        background-color: white;
        color: $color-theme-dark;
    }
    &:focus {
        outline: none;
    }
}