@import '../../sass/vars.scss';

.ProductOvervew {
    background: linear-gradient(to top, rgba(80,68,18,0.6) 10%, transparent), url("../../assets/images/freedom.jpg") left 10% bottom 20%/cover no-repeat border-box, $color-red; 
    // background-image: url("../../assets/images/freedom.jpg");
    // background-color: $color-red;
    // background-size: cover;
    // background-position: left 10% bottom 20%;
    // background-repeat: no-repeat;
    // background-origin: border-box;
    // background-clip: border-box;
    // // background-image: linear-gradient( 0deg, red 30%, transparent);
    //background-image: repeating-radial-gradient(circle 50px at top left, red, blue);
    width: 100%;
    height: 528px;
    padding: .9rem;   
    margin-top: 2.7rem;  
    position: relative;
    h1 {                
        font-family: 'antonregular', 'sans-serif';
        color: white;
        position: absolute;
        bottom: 5%;
        left: 3%;
    } 
}

.Plans {
    .Plans__SectionTitle {
        text-align: center;
        color: $color-theme;
    }
}

.KeyFeatures {
    background: $color-red;
    margin-top: 5rem;
    padding: 1rem;
    .KeyFeatures__SectionTitle {
        text-align: center;
        margin: 2rem;       
        color: white;
    }
}