@import '../../sass/vars.scss';

.ProductOvervew {
    background: url("../../assets/images/freedom.jpg");
    width: 100%;
    height: 528px;
    padding: 10px;       
    h1 {                
        font-family: 'antonregular', 'sans-serif';
        color: white;
    } 
}

.Plans {
    .Plans__SectionTitle {
        text-align: center;
        color: $color-theme;
    }
}

.KeyFeatures {
    background: $color-red;
    margin-top: 80px;
    padding: 16px;
    .KeyFeatures__SectionTitle {
        text-align: center;
        margin: 32px;       
        color: white;
    }
}