@import '../../../sass/vars.scss';

@mixin active-item {
    color: #ccc;
}

.NavigationItem {
    margin: 1rem 0;
    .NavigationItem__link {
        text-decoration: none;
        color: white;
        &:hover, &:active {
            @include active-item;
        }      
    }
    .NavigationItem__link.NavigationItem__link_active  {
        @include active-item;
    }
    @media (min-width: 40rem) {
        display: inline-block;
        margin: 0 1rem;
    }
}