@import '../../sass/vars.scss';

.Header {
    width: 100%;
    position: fixed;
    background: $color-theme;
    padding: .5rem 1rem;
    z-index: 1;
    top: 0;
    left: 0;
    .Header__Navigation {
        display: inline-block;
        width: calc(100% - 74px);
        text-align: right;
        vertical-align: middle;
    }
}